.dynamic-form-control {
  position: relative;
}

.dynamic-form-error-alert {
  color: #f55;
}

.dynamic-form-object-title {
  height: 32px;
  line-height: 32px;
  color: #333;
}

.dynamic-form-control-item {
  padding: 2px 6px;
  margin-bottom: 18px;

  .error-message {
    color: #f55;
  }

  &.no-bottom-margin {
    margin-bottom: 0;
  }

  label {
    height: 32px;
    padding: 0 12px 0 0;
    line-height: 32px;
    color: #333;

    .colon {
      margin-right: 5px;
      margin-left: 3px;
      color: #333;
    }

    .required {
      margin-right: 10px;
      color: #f30;
    }
  }

  .label-container {
    flex-shrink: 0;
  }

  .wrapper-container {
    flex-grow: 1;
  }
}
